.header {
  float:left;
  margin: right 20px;
  height: 50px;
  padding: 20px 20px 0;
  background: #e1e1e1 ;
  text-align: center;
  width: 100%;
  
  
  
}
.menu {
  width: 100%;
  display: table;
  max-width: 720px;
}


    .menu ul {
    display: table-row;
    }
    .menu li {
    display: table-cell;
    background: #9ca2a8;
    }
    .menu ul li:hover, .menu a:hover {
    background: rgb(177, 149, 149);
    }
    .menu li a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    text-align: center;
    }
  body {
    background-image: url(/rsschool-cv/assets/fonts/favicon.ico) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }
     .container {
    width: 100%;
    max-width: 100%; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
  }

  .container:after, .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .col-1-2 {
    width: 30%;
    float: left;
    }

    footer {
      padding: 10px 20px;
      background: #9ca2a8;
      color: #fff;
    }
  
    .logo {
  float: right;
  }
  